<script type="text/javascript">
      var enote_init = {
          tibbrHost      : "<%= @tibbr_host %>",
          tibbr_prefix   : "",
          tibbrTunnelUrl : "<%= @evernote_url + 'tunnel.html' %>",
          tibbr_url      : "<%= @tibbr_url %>",
          app_root       : "<%= @evernote_url %>",
          app_id         : "<%= @app_id %>",
          locale         : "<%= @locale %>",
          user_id        : "<%= @current_user.id %>",
          app_id         : "<%= @app_id %>",
          nb_facets      : "<%= APP_CONFIG[:notebook_facets] %>"
      }
  </script>
  <script type="text/javascript">
      var tibr_init = {
          plugins     : true,
          host        : "<%= @tibbr_url %>",
          tunnelUrl   : "<%= @evernote_url + 'tunnel.html' %>",
          client_id   : "<%= @app_id %>",
          onInitialize:function(){
              var script = document.createElement("script");
              script.type = 'text/javascript';
              <% if COMPRESS_MODE -%>
              script.src = '<%= ENOTE_CONTEXT %>javascripts/enote-min.js';
              <% else -%>
              script.setAttribute("data-main", "app/js/main");
              script.setAttribute("src", "<%=  ENOTE_CONTEXT %>app/js/libs/require/require.js");
              <% end -%>
              var s = document.getElementsByTagName('link')[0];
              s.parentNode.insertBefore(script, s);
          }
      };
  </script>
  <script type="text/javascript" src="<%= @tibbr_url %>connect/js/TIB.js"></script>
  <script src="/ckeditor/ckeditor.js"></script>
  <link href="/css/wkrte.css" rel="stylesheet"/>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Evernote Tibbr Integration</a>
        <div class="nav-collapse collapse">
          <p class="navbar-text pull-right">
            Logged in as <a href="#" class="navbar-link"><%= @current_user.display_name %></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="loader-container">
    <img src="/images/ajax-loader.gif" class="main-ajax-loader"></img>
  </div>
  <div class="container-fluid main-container hidden">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Notebooks</li>
          </ul>
        </div>
      </div>
      <div class="span9">
        <div class="create-btn"></div>
        <div class="loader-container-span hidden" style="margin-left: 550px;">
          <img src="/images/spinner.gif" class="notes-ajax-loader"></img>
        </div>
        <table class="table table-striped note-list hidden">
          <thead>
            <tr>
              <th>#</th>
              <th class="td-note-title">Note Title</th>
              <th>Actions</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div id="tibbr-ui-dialog"></div>
  </div>
